/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: rgb(128, 128, 128);
  font-size: 0.8rem;
  margin: 10px 0;
}

.stories-list > li .star {
  color: rgb(255, 204, 0); 

}

#favorited-stories,
#my-stories {
  list-style: none;
  padding-left: 20px;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */
.star:hover {
color: rgb(205, 167, 0);

}

.star,
.trash-can {
  font-size: 0.75rem;
  margin: 0 2px;
  cursor: pointer;
}

.trash-can:hover {
  color: crimson;
}

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 2em;
  color: green;
  display: block;
  padding: .3em;
  font-size: 1em;
  margin: auto;
}

.story-user {
  display: block;
  color: rgb(228, 164, 4);
  display: block;
  padding: .3em;
  font-size: 1em;
}
